<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>

    <script>
        const API_GATEWAY_URL = 'http://localhost:8081';

        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const username = this.username.value;
            const password = this.password.value;

            fetch(`${API_GATEWAY_URL}/api/users/auth/signin`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Login failed. Please check your credentials.');
                }
            })
            .then(data => {
                if (data.token) {
                    localStorage.setItem('token', data.token);
                    // Redirect to home page after successful login
                    window.location.href = '/';
                } else {
                    throw new Error('Login failed. No token received.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert(error.message);
            });
        });
    </script>
</body>
</html>