<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form id="registerForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Register">
    </form>

    <script>
        const API_GATEWAY_URL = 'http://localhost:8081';

        document.getElementById('registerForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const username = this.username.value;
            const password = this.password.value;

            fetch(`${API_GATEWAY_URL}/api/users/auth/signup`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            })
            .then(response => {
                if (response.ok) {
                    alert('Registration successful! Please login.');
                    // Redirect to login page after successful registration
                    window.location.href = '/login';
                } else {
                    throw new Error('Registration failed. Please try again.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert(error.message);
            });
        });
    </script>
</body>
</html>